@charset "UTF-8";
* {margin:0;padding:0;font:1.4vw/1.231em Arial,Verdanna,sans-serif;text-rendering:optimizelegibility;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-color:#eaeaea;}
*::-webkit-placeholder {color:#ccc;font-weight:normal;font-size:1.3vw;line-height:1.5vw;letter-spacing:.2px;vertical-align:middle;text-rendering:optimizelegibility;opacity:1;font-family:Arial,Verdanna,Sans-serif;font-weight:normal;}
::-webkit-input-placeholder {color:#ccc;font-weight:normal;font-size:1.3vw;line-height:1.5vw;letter-spacing:.2px;vertical-align:middle;text-rendering:optimizelegibility;opacity:1;font-family:Arial,Verdanna,Sans-serif;font-weight:normal;}

input {font-family:Arial,Verdana;-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;-moz-box-sizing:border-box;vertical-align:middle;box-shadow:none;}
input::-moz-focus-inner {border:0;}
input:focus,
select:focus,
textarea:focus,
button:focus {outline:none;}
a {text-decoration:none;color:#454545;}

body {color:#454545;margin:0;padding:0;background-image:url("assets/img/background_@2X.png");background-repeat:repeat;background-size:5% auto;font-family:'Arial',sans-serif;}
#root {text-align:center;}
.App {min-height:100%;min-width:85%;text-align:center;padding:5% 10%;display:inline-block;max-width:1100px;}

/* -- HEADER -- */
.App > header {background-color:#1A5D83;padding:2% 0;display:flex;align-content:center;justify-content:center;position:relative;}
  .App > header > button.menu {display:none;}
  .App > header form.restaurants {min-width:100%;}
    .App > header input {border-radius:5px;font-size:14px;line-height:15px;margin:.5%;min-width:93%;height:4vw;box-sizing:border-box;align-self:center;padding:10px 0 10px 2%;border:none;}
  .App > header .location {position:absolute;top:24%;right:4%;border-left:3px dashed rgba(24,83,120,.1);min-width:30%;}
    .App > header .location > div {height:4vw;text-align:left;}
      .App > header .location > div input {background-color:transparent;border:none;height:100%;padding-left:12px;margin:0;}
      .autocomplete-dropdown-container {font-size:1.4vw;box-shadow:0 4px 9px rgba(0,0.1,0.6,0.05), 0 1px 2px rgba(0,0,0,0.1);width:calc(100% + 5px);margin-top:-2px;}
        .autocomplete-dropdown-container div span {font-size:1.3vw;line-height:2.5vw;padding:5px 0 5px 6%;border-bottom:1px solid #f9f9f9;display:inline-block;}
    .App > header .location button {cursor:pointer;position:absolute;top:1px;right:0;font-size:21px;line-height:26px;color:rgba(100,100,100,.4);width:4vw;border-radius:0;border:none;height:4vw;min-width:0;margin:0;display:block;background-color:transparent;transition:all 0.2s cubic-bezier(.25,.8,.25,1);}
    .App > header .location button:hover,
    .App > header .location button:active {color:rgba(100,100,100,.8);}

/* -- MAIN BLOCK -- */
.App > section {border-radius:0 0 2px 2px;box-shadow:0 3px 10px rgba(0,0.1,0.6,0.22), 0 1px 2px rgba(0,0,0,0.24);transition:all 0.3s cubic-bezier(.25,.8,.25,1);background:#fff;display:flex;}
  .App > section .title {font-size:1.7vw;font-weight:bold;text-align:left;min-width:100%;}
  .App > section > menu {width:30%;border-right:1px solid #eaeaea;padding:4% 0 3% 4%;transition:all 0.2s cubic-bezier(.25,.8,.25,1);}
    .App > section > menu ul {text-align:left;list-style:none;padding:0;margin:0.7vw 1vw 2vw 0.5vw;display:block;width:85%;}
    .App > section > menu .filter {padding:0;}
      .App > section > menu ul li {font-size:1.5vw;padding:2% 0 2% 5%;border-radius:5px;transition:all 0.2s cubic-bezier(.25,.8,.25,1);}
      .App > section > menu ul li:hover,
      .App > section > menu ul li:active,
      .App > section > menu ul li.selected {background-color:#4A96C1;color:#fff;}
    /* -- Food Types -- */
    .App > section > menu .food {text-align:left;margin-bottom:1.8vw;}
      .App > section > menu .food ul li {display:flex;justify-content:space-between;flex-basis:100%;cursor:pointer;}
        .App > section > menu .food ul li span {font-size:1.5vw;}
        .App > section > menu .food ul li i {font-size:1.3vw;line-height:2.3vw;color:#ccc;margin-right:10px;}
    /* -- Rating -- */
    .App > section > menu .rating {display:flex;flex-direction:row;flex-wrap: wrap;}
    .App > section > menu .rating:hover,
    .App > section > menu .rating:active {cursor:pointer;}
      .App > section > menu .rating ul li {margin:.15vw;padding:2% 6%;}
        .App > section > menu .rating ul li b {margin-left:1%;}
        .App > section > menu .rating ul li b.full {color:#ddd;}
        .App > section > menu .rating ul li b.empty {color:#FFA15B;}
        .App > section > menu .rating ul li i {font-size:1.2vw;line-height:2vw;color:#fff;display:inline-block;text-align:right;float:right;}
        .App > section > menu .rating ul li.selected b,
        .App > section > menu .rating ul li:hover b,
        .App > section > menu .rating ul li:hover i {color:#fff;}
        .App > section > menu .rating ul li.selected b.full,
        .App > section > menu .rating ul li:hover b.full {opacity:.5;}
    /* -- Payment Mode -- */
    .App > section > menu .payment {margin:2vw 1vw 1vw 1vw;}
      .App > section > menu .payment ul li {font-size:1.5vw;letter-spacing:.4px;padding-left:2%;margin:2% 0;}
      .App > section > menu .payment ul li:hover,
      .App > section > menu .payment ul li:active {cursor:pointer;color:#fff;background-color:#4A96C1;}
        .App > section > menu .payment ul li svg {margin-right:5%;}
        .App > section > menu .payment ul li i {font-size:1.2vw;line-height:2vw;color:#fff;display:inline-block;text-align:right;float:right;margin-right:3%;}

  /* -- Result List -- */
  .results {width:70%;align-items:stretch;background-color:#fff;display:flex;flex-direction:column;transition:all 0.2s cubic-bezier(.25,.8,.25,1);}
    .results h1 {height:5vw;vertical-align:middle;text-align:left;padding:5% 0 0 5%;font-size:2vw;}
    .results h1:after{content:"";display:inline-block;height:0.5em;vertical-align:bottom;width:100%;margin-right:-100%;margin-left:20px;border-top:1px solid #ddd;}
      .results h1 i {font-size:1.3vw;font-weight:normal;opacity:.5;margin:0 5px;}
    .results .emptyList {height:100%;vertical-align:middle;padding:6% 0;}
      .results .emptyList h3,
      .results .emptyList h5 {color:#bbb;vertical-align:middle;display:block;justify-items:center;align-items:center;}
      .results .emptyList h3 {font-size:1.7vw;padding:8px 0;}
      .results .emptyList h5 {font-size:1.2vw;letter-spacing:.4px;opacity:.8;}
  /* -- Result List > Restaurant row -- */
  .results a.result {cursor:pointer;padding-left:1vw;width:98%;display:flex;align-items:flex-start;flex-wrap:nowrap;transition:all 0.3s cubic-bezier(.25,.8,.25,1);border-bottom:.5px solid #f6f6f6;}
  .results a.result:hover,
  .results a.result:active {background-color:#f9f9f9;box-shadow:0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);border-radius:5px;}
    .results a.result .imgC {display:flex;transition:all 0.3s cubic-bezier(.25,.8,.25,1);width:calc(12vw + 5%);}
      .results a.result .imgC > img {height:12vw;width:12vw;border-radius:5px;margin:20% 15%;}
        .results a.result article {font-size:1.75vw;display:flex;flex-flow:column wrap;height:100%;align-items:left;margin:1vw 0 0 2vw;}
          .results a.result article h3 {align-self:flex-start;padding-top:1vw;font-size:1.6vw;text-align:left;font-weight:bold;}
          .results a.result article > div {display:flex;flex-flow:row nowrap;height:100%;padding-top:1vw;color:#FFA15B;font-size:1.7vw;}
            .results a.result article > div ul {list-style:none;padding:0;display:flex;margin-left:1vw;margin-right:1vw;align-items:center;justify-content:left;}
              .results a.result article > div ul li {font-size:1.6vw;height:1.75vw;width:1.75vw;max-width:100%;max-height:100%;margin-right:1%;}
              .results a.result article > div ul li.full {color:#FFA15B;}
              .results a.result article > div ul li.empty {color:#ddd;}
          .results a.result article span {font-size:1.3vw;color:#ccc;display:block;font-weight:normal;letter-spacing:.3px;line-height:2vw;}
          .results a.result article > span {line-height:2vw;text-align:left;margin:5px 0;}
          .results a.result article > em {line-height:2vw;font-size:1.2vw;text-align:left;display:inline-block;background-color:#4A96C1;width:fit-content;color:#fff;padding:3px 10px;border-radius:5px;letter-spacing:.4px;}
            .results a.result article > em svg {margin:0 5px 0 0;}

  /* -- pagination -- */
  .paginationC {text-align:center;}
    .pagination {display:inline-block;padding-left:0;margin:20px 0;border-radius:4px;}
      .pagination ul {display:block;list-style-type:disc;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:40px;}
        .pagination > li {display:inline;}
        .pagination > li:first-child > a,
        .pagination > li:first-child > span {margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px;}
        .pagination > .disabled > a,
        .pagination > .disabled > a:focus,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > span,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > span:hover {color:#777;background-color:#eaeaea;border-color:#eee;cursor:not-allowed;}
        .pagination > li > a,
        .pagination > li > span {font-size:1.5vw;position:relative;float:left;padding:1vw 2vw;line-height:1.42857143;text-decoration:none;color:#4A96C1;background-color:#fff;border:1px solid #eee;margin-left:-1px;transition:all 0.3s cubic-bezier(.25,.8,.25,1);}
        .pagination > li > a:hover,
        .pagination > li > a:focus,
        .pagination > li > span:hover,
        .pagination > li > span:focus {background-color:#f9f9f9;}
        .pagination > li.active > a,
        .pagination > li.active > span {background-color:#4A96C1;color:#fff;}


@media screen and (min-width: 1200px) {
* {font:15px/1.231em Arial,Verdanna,}
*::-webkit-placeholder {font-size:16px;line-height:18px;}
::-webkit-input-placeholder {font-size:16px;line-height:18px;}

.App > header {padding:14px 0;}
  .App > header input {height:50px;}
  .App > header .location {top:20px;}
    .App > header .location > div {height:50px;}
      .App > header .location button {height:50px;width:45px;}
    .autocomplete-dropdown-container div span {font-size:15px;line-height:18px;}
.App > section .title {font-size:18px;}
.App > section > menu {padding:30px 10px 20px 25px;max-width:220px;}
  .App > section > menu ul {margin-right:0;width:93%;}
    .App > section > menu .food ul li span {font-size:17px;}
    .App > section > menu .food ul li i {font-size:13px;line-height:20px;}
    .App > section > menu .rating ul li {padding:0 7px 0;margin:0;font-size:23px;clear:both;}
      .App > section > menu .rating ul li b {margin-left:2px;font-size:18px;}
      .App > section > menu .rating ul li i {font-size:13px;line-height:30px;}
    .App > section > menu .payment {margin:0;}
      .App > section > menu .payment ul li {font-size:16px;letter-spacing:.3px;padding:6px 6px;}
        .App > section > menu .payment ul li i {font-size:13px;line-height:20px;}

.results {width:calc(100% - 220px);min-width:auto;}
  .results h1 {font-size:20px;height:60px;padding:30px 0 0 26px;}
    .results h1 i {font-size:16px;}
  .results .emptyList h3 {font-size:19px;}
  .results .emptyList h5 {font-size:15px;}
  .results a.result {padding-left:10px;}
    .results a.result article h3 {padding-top:15px;font-size:22px;}
    .results a.result .imgC {width:calc(150px + 5%);}
      .results a.result .imgC > img {height:150px;width:150px;margin:20px 15px;}
    .results a.result article {font-size:15px;margin:10px 0 0 8px;}
      .results a.result article > div {font-size:20px;padding-top:10px;}
      .results a.result article h3 {font-weight:500;}
      .results a.result article span {font-size:16px;line-height:23px;}
        .results a.result article > div ul {margin:0 0 0 5px;}
          .results a.result article > div ul li {font-size:17px;height:20px;width:20px;margin-right:0;}
        .results a.result article > em {font-size:13px;line-height:22px;}

.pagination > li > a,
.pagination > li > span {font-size:15px;padding:8px 18px;}
}


@media all and (max-width:640px) {
*::-webkit-placeholder {font-size:12px;line-height:15px;}
::-webkit-input-placeholder {font-size:12px;line-height:15px;}

body,.App, .App > section {height:calc(100vh - 52px);}
.App {padding:0;}
  .App > section .title {font-weight:bold;font-size:15px;}

  /* -- HEADER -- */
  .App > header {justify-content:flex-end;}
    .App > header > button.menu {display:inline-block;background:transparent;border:none;color:#fff;text-align:center;font-size:18px;cursor:pointer;}
    .App > header form.restaurants {min-width:93%;}
      .App > header input {height:9vw;}
    .App > header .location > div {display:none;}
    .App > header .location button {top:-4px;right:-3px;line-height:38px;width:34px;height:34px;font-size:15px;}

  /* -- MAIN BLOCK -- */
  .App > section.hidden > menu {width:0px;overflow:hidden;padding:0;}
  .App > section > menu {width:43%;padding-left:2%;background-color:#f7f7f7;}
    .App > section > menu ul {width:95%;margin-right:0;}
      .App > section > menu ul li {font-size:13px;}
        /* -- Food Types -- */
        .App > section > menu .food {margin-bottom:18px;}
          .App > section > menu .food ul li span {font-size:14px;}
          .App > section > menu .food ul li i,
          .App > section > menu .rating ul li i,
          .App > section > menu .payment ul li i {font-size:11px;line-height:15px;margin:0 5px 0 0;}
        /* -- Rating -- */
        .App > section > menu .rating ul li {margin:0;padding:2% 0 2% 6%;}
          .App > section > menu .rating li b {font-size:13px;}
        /* -- Payment Mode -- */
        .App > section > menu .payment ul li {font-size:13px;padding:4px 0 4px 8px;letter-spacing:.3px;}

  /* -- Result List -- */
  .App > section.hidden .results {width:100%;}
  .App > section .results {width:57%;opacity:.4;}
  .App > section.hidden .results {opacity:1;}
    .App > section .results h1 {height:auto;font-size:17px;}
    .App > section .results h1:after {margin-left:0;}
      .App > section .results h1 i {display:block;font-size:13px;}
    .App > section .results .emptyList h3 {font-size:18px;}
    .App > section .results .emptyList h5 {font-size:12px;}
    /* -- Result List > Restaurant row -- */
    .App > section .results a.result {padding:10px 0 0 10px}
      .App > section .results a.result .imgC {width:calc(20vw + 5%);height:25vw;}
        .App > section .results a.result .imgC > img {height:20vw;width:20vw;margin:1% 0 1% 7%;}
      .App > section.hidden .results a.result .imgC {width:calc(30vw + 5%);height:34vw;}
        .App > section.hidden .results a.result .imgC > img {height:30vw;width:30vw;}
        .App > section .results a.result article {width:100%;font-size:13px;margin-left:20px;}
          .App > section .results a.result article h3 {font-size:14px;}
          .App > section .results a.result article > div {font-size:15px;}
            .App > section .results a.result article > div ul{vertical-align:initial;align-items:initial;}
              .App > section .results a.result article > div ul li {font-size:13px;width:auto;}
            .App > section .results a.result article span {font-size:12px;line-height:16px;}
            .App > section .results a.result article > div > span {display:none;}
            .App > section.hidden .results a.result article > div > span {display:inline-block;margin-left:5px;}
            .App > section .results a.result article > em {line-height:15px;font-size:11px;}

    /* -- pagination -- */
    .App > section.hidden .pagination > li > a,
    .App > section.hidden .pagination > li > span {font-size:15px;padding:6px 20px;}
}
